body {
    display: flex;
    justify-content: center;
}

.contactForm{
    background-color: aqua;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    section {
        margin: 10px 0;
    }
}