.forms{
    width: 50%;
    margin-left: 50%;
    margin-top: 100px;
    transform: translateX(-50%);
    background-color: $color-blue-primary-opacity;
    border-radius: 10px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas: 
    'title forms';

    .title-forms{
      grid-area: title;
      text-align: center;
    }

    .logForms{
      grid-area: forms;
      display: flex;
      justify-content: center;
      align-items: center;

      .sigIn-Form{
        width: 70%;

        form{
          padding: 20px 0px;

          .field{
            padding: 10px;
          }
        }
      }
    }
}