.contactForm {
   width: 50%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   gap: 0.5rem;
   // align-items: center;

   .field {
      min-height: 10%;
   }

   .radio {
      display: block;
   }

   .btn-submit {
      background-color: rgba(0, 61, 217, 0.8);
      color: beige;
      margin-top: 2rem;
      max-width: fit-content;
      margin-left: 50%;
      transform: translateX(-50%);
   }

   strong {
      display: block;
      opacity: 0.4;
   }
}

// .field {

// }
