.navigation {
   width: 100%;
   display: flex;
   background-color: transparent;
   justify-content: space-between;
   backdrop-filter: blur(50px);
   box-shadow: 3px 0 10px secondaryColor(0.3);

   h1 {
      display: flex;
      justify-content: flex-start;
      transform: translateX(10%);
      letter-spacing: 0.2rem;

      a {
         text-decoration: none;
         color: black;
      }
   }

   ul {
      display: flex;
      transform: translateX(-10%);
      flex-direction: row;
      justify-content: flex-end;
      gap: 1.4rem;
      align-items: center;
      list-style: none;

      li {
         font-size: 1.2rem;

         a {
            text-decoration: none;
            color: black;
            font-weight: bold;

            .active {
               background-color: red;
            }
         }
      }
   }
}
