@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$color-blue-primary: rgba(0, 61, 217);
$color-blue-primary-opacity: rgba(0, 61, 217, 0.4);
$primary-font: 'Roboto', sans-serif;

//**function for color and dynamic opacity
@function primaryColor($value) {
   $result: rgba(245, 245, 245, $value);
   @return $result;
}
@function secondaryColor($value) {
   $result: rgba(1, 42, 83, $value);
   @return $result;
}
@function tertiaryColor($value) {
   $result: rgba(179, 130, 253, $value);
   @return $result;
}
