@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$color-blue-primary: rgba(0, 61, 217);
$color-blue-primary-opacity: rgba(0, 61, 217, 0.4);
$primary-font: 'Roboto', sans-serif;
$background-color-primary:#f5f5f5;
$background-color-secondary:#012A53
